@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins.otf") format("opentype");
}
html {
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
}

img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
  overflow: visible;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
[hidden] {
  display: none;
}
li {
  list-style-type: none;
}
i {
  font-size: 30px;
}
:root {
  /* ADMIN */
  --primary: #8cc9fc;
}
a {
  color: white;
  text-decoration: none;
}
input[type="radio"] {
  /* display: none; */
}
