header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 120%;
  background-image: url(../images/mesh.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 20%;
  color: white;
}
.nav__list-items {
  display: flex;
  flex-direction: row;
}
.nav__list-items li {
  display: inline-block;
  width: 100px;
  padding: 20px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  font-size: 17px;
}
.nav__title {
  font-size: 30px;
  font-weight: bold;
}
.nav__item {
  font-weight: bold;
}
.information__area {
  width: 100%;
  height: 50px;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.card__information {
  width: 85%;
  position: absolute;
  top: -500px;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.information__personal {
  margin-left: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.information__personal .title__info {
  font-size: 17px;
  align-self: center;
}
.information__personal .fullname,
.about__area h1 {
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
}
#type__dev {
  font-size: 15px;
  text-transform: uppercase;
}
#slogan {
  width: 100%;
  margin-top: 30px;
  color: #777777;
  font-size: 15px;
}
.list--info {
  margin-top: 70px;
  color: #777777;
}
.list--info li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.list--info li i {
  margin-right: 50px;
  color: var(--primary);
}
.list--social {
  display: flex;
  flex-direction: row;
}
.social {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--primary);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
}
.about__area {
  width: 100%;
  display: flex;
  align-items: center;

  flex-direction: column;
  margin-top: 200px;
}
.about__area .wrap {
  width: 85%;
  display: flex;
}
.about__area h1 {
  color: #222;
}
.wrap .myself {
  flex: 0.5;
}
.wrap .skill {
  flex: 0.5;
}
.about__statistic {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin-top: 50px;
}
.about__statistic div {
  width: 132px;
  height: 120px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: linear 0.3s;
}
.about__statistic div:hover {
  background-color: var(--primary);
}
.about__statistic div:hover h3 {
  color: white;
}
.about__statistic div:hover i {
  color: white;
}
.about__statistic div:hover h3 {
  color: white;
}
.about__statistic div i {
  margin-bottom: 10px;
  color: var(--primary);
}
.about__statistic div span {
  color: #777777;
  font-size: 14px;
}
.about__statistic div h3 {
  font-weight: 500;
  color: #222;
  font-size: 25px;
}
.about__statistic div:first-child {
  margin-left: 0px;
}
.skill h1 {
  visibility: hidden;
}
.skill-bar h4 {
  margin-bottom: 15px;
}
.skill-bar {
  margin-bottom: 15px;
}
.progress-bar {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.progress-skill {
  background-image: url("./images/mesh.jpg");
  background-position: right center;
  height: 10px;
  border-radius: 10px;
  transition: 1s;
  width: 0;
}
.wrap-skill.effect #php {
  width: 50%;
}
.wrap-skill.effect #autoit {
  width: 70%;
}
.wrap-skill.effect #nodejs {
  width: 50%;
}
.wrap-skill.effect #react {
  width: 40%;
}
.project__area {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}
.project__area h1 {
  font-size: 45px;
  color: #222;
}
.category__project ul {
  display: flex;
}
.category__project ul li.active {
  color: var(--primary);
}
.category__project ul li {
  padding: 0px 30px;
  color: gray;
  font-size: 15px;
  cursor: pointer;
}
.category__project ul li:hover {
  color: var(--primary);
  transition: 0.5s;
}
.card__project {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
}

.project {
  padding: 5px 10px;
  width: 250px;
  height: 300px;
  margin: 10px 20px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.project img {
  object-fit: cover;
  width: 100%;
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.project span.label__type {
  padding: 2px;
  background-color: var(--primary);
  border-radius: 4px;
  float: right;
  margin-top: 15px;
  color: white;
  text-transform: uppercase;
}
/* .project span {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-image: url(../images/mesh.jpg);
  background-position: right center;
  color: white;
  border-radius: 5px;
} */
.project h3 {
  text-align: start;
}
.project span {
  text-align: start;
  font-size: 13px;
  color: gray;
}
.project p {
  margin-top: 10px;
  color: gray;
  font-size: 14px;
}
.slide {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--primary);
  transform: translateY(-100%);
  transition: 0.3s;
  opacity: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project:hover .slide {
  transform: translateY(0%);
}
.slide button {
  z-index: 9999999999999999999999999999;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  background-image: url(../images/mesh.jpg);
  background-position: right center;
}
.effect .progress-skill {
}
@keyframes slide {
  from {
  }
  to {
  }
}
.timeline__tabs {
  padding: 50px;
}
.timeline__tabs li {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
}
.timeline__tabs li.active {
  background-color: white;
  color: black;
  border: none;
}
.timeline__area {
  display: flex;
  align-items: center;
  margin-top: 90px;
  background-image: url(../images/mesh.jpg);
  background-position: right center;
  width: 100%;
  flex-direction: column;
  color: white;
}
ul.list {
  position: relative;
  width: 100%;
  margin-top: 5px;
}
.tab__content {
  width: 100%;
  height: 100%;
}
.experience,
.education {
  width: 100%;
  height: 100%;
  display: none;
}
.tab__content .active {
  display: block;
}
.list {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.list::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  width: 5px;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.list li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  margin-bottom: 50px;
}
.list li span {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list li span::before {
  content: "";
  height: 7px;
  width: 7px;
  background-color: white;
  border-radius: 50%;
  top: 0px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.content .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-right: 20px;
}
.content .right {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
footer {
  width: 100%;
  height: 40%;
  background-image: url(../images/mesh.jpg);
  background-position: right center;
  color: white;
  padding: 50px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer span {
  padding: 10px 0px;
  display: block;
}
footer h3 {
  text-transform: uppercase;
}
.footer__contact .input-group {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-group input {
  border: 1px solid var(--primary);
  border-right: none;
  padding: 5px;
  width: 100%;
  padding-right: 50px;
  background-color: transparent;
  color: white;
}
input:focus {
  outline: none;
}
.input-group button {
  position: absolute;
  height: 100%;
  outline: none;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  cursor: pointer;
  padding: 10px;
  right: 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social i {
  padding: 0px 15px;
  cursor: pointer;
}
.footer__social i:first-child {
  padding-left: 0;
}
